/*@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200|Source+Serif+Pro');

body {
	font-family: "minion-pro", "Palatino Linotype", 'Palatino', serif;
	font-size: 18px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "fira-sans", 'Helvetica', sans-serif;
	font-weight: 200;
	font-style: normal;
}

body {
	font-family: 'Source Serif Pro', serif;
	font-size: 18px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Source Sans Pro', sans-serif;
}*/

/* So far, only used in the footer */
address {
	margin-bottom: 1rem;
	font-size: inherit;
	line-height: 1.6;
	text-rendering: optimizeLegibility;
	font-style: normal;
}